* {
    background-color: black;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

button {
    height: 80px;
    width: 80px;
    font-size: 36px;
    margin: 20px;
    border-radius: 8px;
}